#include <iostream>

using namespace std;

void equ(int w, int *a, int n){
  if (w>0){
    int i;
    for (i = 0; i < n; i++){
      if (a[i] > abs(w)){
        i--;
        break;
      }
    }
    int j = i + 1, gir; 
    if (abs(w - a[i]) < abs(w - a[j])) 
      gir = a[i];
    else
      gir = a[j];
    cout << "Гиря: " << gir << endl;
    equ(w - gir, a, n);
  }
}

int main(){
  setlocale(LC_ALL, "Russian");
  int a[] = {1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, 2000, 5000}, n = 12;
  int weight;
  cout << "Введите массу, которую нужно уравновесить: ";
  cin >> weight;
  equ(weight, a, n);
  return 0;
}